/* Sidebar styles */
.sidebar {
    background-color: #f8f9fa;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    overflow-y: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.sidebar-header {
    display: flex;
    align-items: center;
    padding: 30px 20px;
    border-bottom: 1px solid #e0e0e6;
}

.sidebar-header img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 15px;
}

.sidebar-header h5 {
    font-size: 24px;
    margin: 0;
    color: #333;
    font-weight: bold;
}

.sidebar-header a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.sidebar-header a:hover {
    color: #0066cc;
}

.search {
    margin-top: 30px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
}

.search input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
}

.categories li {
    margin-bottom: 25px;
}

.categories i {
    margin-right: 15px;
    font-size: 24px;
    color: #333;
}

.categories a {
    width: 100%;
    color: #333;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.categories a:hover {
    color: #0066cc;
}

.navigation-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}




.navigation-item.active {
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navigation-item:hover {
    background-color: #e0e0e0;
    transform: translateY(-2px);
    text-decoration: underline;
}

.navigation-item i {
    margin-right: 15px;
    font-size: 24px;
    color: #333;
}

.navigation-item span {
    flex-grow: 1;
    color: #333;
}

.sidebar-dropdown {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
}

.sidebar-dropdown a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.sidebar-dropdown a:hover {
    text-decoration: underline;
    color: #0066cc;
}

/* Custom scrollbar styles */
.sidebar::-webkit-scrollbar {
    width: 12px;
}

.sidebar::-webkit-scrollbar-track {
    background: #f0f0f0;
}

.sidebar::-webkit-scrollbar-thumb {
    background: #bfbfbf;
    border-radius: 6px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background: #888888;
}

/* Responsive design */
@media (max-width: 768px) {
    #wrapper {
        margin-left: 0;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        transition: left 0.3s ease-in-out;
    }

    .show-side-btn {
        display: block;
    }

    .close-aside {
        display: none;
    }
}

@media (min-width: 769px) {
    .show-side-btn {
        display: none;
    }

    .close-aside {
        display: block;
    }
}
