.viewallproductsmain{
    margin-top: 22vh;
}

.viewallproductstitle{
    font-family: signika;
    font-weight: bold;
    font-size: 40px;
    color: white;
    text-decoration: underline;
}

.viewallproducts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5vh;
    margin-top: 5vh;
    margin-left: 10vh;
    max-height: 100vh;
    min-width: 100vh;
    overflow: hidden;
}

.viewallproducts:hover {
    overflow: auto;
}

.select-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 15vh;
    overflow-x: auto;
}

.select-container select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    background-color: #f8f8f8;
    outline: none;
    cursor: pointer;
    max-height: 10vh;
    overflow-x: scroll;
}

.select-container option {
    padding: 10px;
}

/* Styling for the dropdowns when they are focused */
.select-container select:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}