.Navbar-main{
    z-index: 1;
    position: fixed;
}

.Navbar-logo{
    width: 67px !important;
    height: 60px !important;
    /* margin-left: 4%; */
}

.Navbar-LogoButton{
    border: none;
    margin-left: 4%;
}

.Navbar-heading{
    margin-left: 1%;
    margin-top: 1%;
    font-size: xx-large;
    font-family: Signika;
    font-weight: bold;
    color: white;
}

.Navbar-UserImage{
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
}

.Navbar-UserNameandImageButton{
    border: none;
    gap: 10px;
    margin-right: 5vh;
}

.Navbar-UserName{
    font-family: signika;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.Navbar-NavbarRed{
    background-color: #440808;
    height: 55px;
    gap: 10vh;
    padding-right: 3%;
}

.Navbar-NavbarButton{
    font-family: signika;
    font-weight: bold;
    font-size: 25px;
    margin-top: 1vh;
    color: white;
    border: none;
    background: none;
    text-decoration: none;
}

.Navbar-NavbarButtonactive{
    font-family: signika;
    font-weight: bold;
    font-size: 25px;
    margin-top: 1vh;
    color: white;
    border: none;
    background: none;
}

.Navbar-Search {
    height: 75%;
    width: 10vw;
    margin: auto;
    border-radius: 25px;
    border: none;
    padding: 10px;
    box-shadow: 2px 2px 5px #888888;
    border: none;
    outline: none;
}

.Navbar-Search:focus::placeholder{
    opacity: 0;
}

.productImageNavBar{
    width: 50px;
    border-radius: 25px;
}

.ProductButtonNavbar{
    outline: none;
    background: none;
}

@keyframes colorfulShadowPC {
    0% {
      box-shadow: 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000;
    }
    25% {
      box-shadow: 0 0 20px #ff6666, 0 0 30px #ff6666, 0 0 40px #ff6666, 0 0 50px #ff6666;
    }
    50% {
      box-shadow: 0 0 20px #ff3333, 0 0 30px #ff3333, 0 0 40px #ff3333, 0 0 50px #ff3333;
    }
    75% {
      box-shadow: 0 0 20px #ff9999, 0 0 30px #ff9999, 0 0 40px #ff9999, 0 0 50px #ff9999;
    }
    100% {
      box-shadow: 0 0 20px #ff3333, 0 0 30px #ff3333, 0 0 40px #ff3333, 0 0 50px #ff3333;
    }
}

.highlighted {
    background-color: #e1d3d3;  
    color: #000;
}

@media only screen and (max-width: 1200px) {
    .Navbar-NavbarButton{
        font-size: 15px;
    }
    .Navbar-NavbarRed{
        gap: 5vh;
    }
    .Navbar-NavbarButtonactive{
        font-size: 18px;
    }
    .Navbar-Search{
        display: none;
    }
}