/* admin product card .css*/ 
.product-admin-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 260px;
    padding: 20px 1px;
    margin: 10px 0;
    text-align: center;
    position: relative;
    box-shadow: 0 10px 15px -3px rgba(33,150,243,.4),0 4px 6px -4px rgba(33,150,243,.4);
    border-radius: 10px;
    background-color: #6B6ECC;
    background: linear-gradient(45deg, #04051dea 0%, #2b566e 100%);
  }
  
  .product-admin-card-content {
    padding: 20px;
  }
  
  .product-admin-card-content .product-admin-card-price {
    color: white;
    font-weight: 800;
    font-size: 20px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
  }
  
  .product-admin-card-content .product-admin-card-title {
    color: white;
    font-weight: 800;
    font-size: 20px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
    margin-top: 10px;
  }





  .product-admin-card-content .product-admin-card-description {
    color: rgba(255, 255, 255, 0.6);
    margin-top: 10px;
    font-size: 14px;
  }
  
  .product-admin-card-content img {
width: 150px;
height: 150px;
  }
  
  .product-admin-button {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: none;
    outline: none;
    color: rgb(255 255 255);
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75rem;
    padding: 0.75rem 1.5rem;
    background-color: rgb(33 150 243);
    border-radius: 0.5rem;
    width: 90%;
    text-shadow: 0px 4px 18px #2c3442;
  }
  
  .product-admin-card-button-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }




  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  
  .products-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
  }
  
  .products-modal-content input,
  .products-modal-content textarea {
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
  }
  