.Navbar-main{
    z-index: 1;
}

.Navbar-logo{
    width: 60px !important;
    height: 60px !important;
    margin-left: 4%;
}

.Navbar-heading{
    margin-left: 1%;
    font-size: x-large;
    font-family: Signika;
    font-weight: bold;
    color: white;
}

.Navbar-UserImage{
    width: 60px !important;
    height: 60px !important;
}

.Navbar-UserNameandImageButton{
    border: none
}

.Navbar-UserName{
    font-family: signika;
    font-weight: bold;
    font-size: 25px;
    color: white;
}

.Navbar-NavbarRed{
    background-color: #440808;
}