.Navbar-main{
    z-index: 1;
    position: fixed;
}

.Navbar-logo{
    width: 67px !important;
    height: 60px !important;
    margin-left: 4%;
}

.Navbar-heading{
    margin-left: 4%;
    margin-top: 1%;
    font-size: xx-large;
    font-family: Signika;
    font-weight: bold;
    color: white;
}

.Navbar-UserImage{
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
}

.Navbar-UserNameandImageButton{
    border: none;
    gap: 10px;
    /* padding-right: 10%; */
}

.Navbar-UserName{
    font-family: signika;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.Navbar-NavbarRed{
    background-color: #440808;
    height: 55px;
    gap: 10%;
    padding-right: 3%;
}

.Navbar-NavbarButton{
    font-family: signika;
    font-weight: bold;
    font-size: 25px;
    color: white;
    border: none;
    background: none;
}

.Navbar-Search {
    height: 75%;
    margin: auto;
    border-radius: 25px;
    border: none;
    padding: 10px;
    box-shadow: 2px 2px 5px #888888;
    border: none;
    outline: none;
}

.Navbar-Search:focus::placeholder{
    color: white;
}

.productImageNavBar{
    width: 50px;
    border-radius: 25px;
}

.ProductButtonNavbar{
    outline: none;
    border: none;
}